doctype
html
  head
    title= site_name
    link(rel="stylesheet" href="/t/" + theme + "/main.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,700|Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css')
  body
    pageData = public._data[current.source] 

    header
      a(href="/") main

    if current.source === 'index' || current.source === '404'
      != partial('_main')
    else if pageData && pageData.display
      != partial(pageData.display)
    else
      != partial('_post')

    footer
      .content
        section
          = site_name
        section
          span published with 
          a(href="http://harpjs.com") Harp

    script(src="js/bundle.js")
