- function themePath(page) { return '/t/' + theme + '/' + page; }
doctype
html
  head
    != partial(themePath('_head'), { themePath: themePath })
  body

    != partial(themePath('/_header'))

    if (current.source === 'index' && current.path.length === 1) || current.source === '404'
      != partial(themePath('/_main'))
    else if display
      != partial(themePath('/' + display))
    else
      != partial(themePath('/_post'))

    != partial(themePath('/_footer'))

    script(src="/js/bundle.js")
