- function themePage(page) { return '/t/' + theme + '/' + page; }
doctype
html
  head
    title= site_name
    link(rel="stylesheet" href="/t/" + theme + "/main.css")
    != partial(themePage('_head'))
  body

    != partial(themePage('/_header'))

    if (current.source === 'index' && current.path.length === 1) || current.source === '404'
      != partial(themePage('/_main'))
    else if display
      != partial(themePage('/' + display))
    else
      != partial(themePage('/_post'))

    != partial(themePage('/_footer'))

    script(src="/js/bundle.js")
