- function themePage(page) { return '/t/' + theme + '/' + page; }
doctype
html
  head
    title= site_name
    link(rel="stylesheet" href="/t/" + theme + "/main.css")
    != partial(themePage('_head'))
  body
    pageData = public._data[current.source] 

    != partial(themePage('/_header'))

    if current.source === 'index' || current.source === '404'
      != partial(themePage('/_main'))
    else if pageData && pageData.display
      != partial(themePage('/') + pageData.display)
    else
      != partial(themePage('/_post'))

    != partial(themePage('/_footer'))

    script(src="/js/bundle.js")
