doctype
html
  head
    title= title
    link(rel="stylesheet" href="/t/" + theme + "/main.css")
  body
    pageData = public._data[current.source] 
    if current.source === 'index'
      != partial('_main')
    else if pageData && pageData.display
      != partial(pageData.display)
    else
      != partial('_post')
    script(src="js/bundle.js")
