meta(charset="utf-8")
title= site_name + (title ? ' :: ' + title : '')
link(rel="stylesheet" href=relThemePath('main.css'))
link(rel="stylesheet" href=relThemePath('pojoaque.css'))
link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,700|Libre+Baskerville:400,700,400italic|http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700' rel='stylesheet' type='text/css')
meta(name="viewport" content="width=device-width,initial-scale=1")
if scripts
  each script in scripts
    script(src=script)
