main
  article
    .post-meta
      h1= title
      span.author= author
      span at
      span= date
      if tags && tags.length > 0
        span.tags= '[tags: ' + tags.join(', ') + ']'
    section
      != yield
